@media (max-width: 1500px) {
  .header__popup-list {
    flex: 0 1 70%;
  }

  .simplebar-1,
  .simplebar-2,
  .simplebar-3,
  .simplebar-4,
  .simplebar-5 {
    height: 220px;
    padding-right: 175px;
  }

  .about__content {
    flex: 0 1 77%;
  }

  .gallery__filter-description {
    padding-right: 0;
    max-width: 280px;
  }

  .catalog__accordion-triger-name-item {
    width: calc(100% / 2);
  }

  #ui-id-30 {
    height: 436px;
  }

  .events__wrapper {
    gap: 35px;
  }

  .events__slide {
    width: calc((100% - 35px * 2) / 3);
  }

  .events__slide-info {
    padding: 0;
  }

  .editions__checkbox {
    padding-right: 50px;
  }

  .projects__description-text {
    flex: 0 1 76%;
  }

  .contacts__address-block {
    flex: 0 1 40%;
  }

  .contacts__address-block::after {
    width: calc(100% - 60%);
  }

  .contacts__map-block {
    width: calc(100% - 40%);
  }
}

@media (max-width: 1200px) {
  .header__burger {
    display: block;
    margin-right: 222px;
  }
  .header__logo {
    margin-right: 0;
  }

  .header__logo-link svg {
    width: 187px;
    height: 42px;
  }

  .header__nav {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 35px 0 50px 50px;
    margin: 0;

    width: 100%;
    height: 768px;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .header__nav::after {
    position: absolute;
    content: "";
    top: 0;
    right: -120px;
    bottom: 0;
    left: -120px;
    background-color: #000000e6;
  }

  .header__nav-active {
    display: block;
    opacity: 1;
    z-index: 10;
    transform: translateX(0);
  }

  .header__nav-close-active {
    display: block;
    margin-bottom: 55px;
  }

  .header__nav-list {
    height: 60%;
    flex-direction: column;
  }

  .header__nav-link {
    font-size: 24px;
  }

  .header__logIn {
    position: absolute;
    display: none;
    left: 50px;
    bottom: -600px;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
  }

  .header__logIn-active {
    display: block;
    opacity: 1;
    z-index: 10;
    transform: translateX(0);
  }

  .header__logIn-link {
    font-weight: 600;
    padding: 20px 88px;
    border: 2px solid var(--purple);
    border-radius: 100px;
  }

  .header__logIn-link:active svg path {
    fill: white;
  }

  .header__logIn-link.btn-focus:active:not(:focus-visible) {
    border-color: var(--purplewhite);
    background-color: var(--purpledark);
  }

  .header__form-container {
    height: 32px;
  }

  .header__search {
    position: relative;
    bottom: 0;
    right: 0;
  }

  .header__search-btn {
    display: block;
    position: absolute;
    right: 0;
  }

  .header__search-btn svg,
  .header__search-form-btn svg {
    width: 30px;
    height: 29px;
  }

  .header__search-btn.search__active {
    display: none;
    opacity: 0;
  }

  .header__search-form {
    transform: translate(150%, 0);
  }

  .header__form-active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .header__search-form-input::placeholder {
    color: transparent;
  }

  .header__popup {
    display: none;
  }

  .hero {
    top: -126px;
  }

  .hero__content {
    padding: 238px 0 115px 0;
    max-width: 660px;
    flex: 0 1 75%;
  }

  .hero__content-heading {
    margin-bottom: 13px;
  }

  .hero__content-subtitle {
    margin-bottom: 134px;
  }

  .hero__swiper-slide-01 {
    background-image: url("../img/hero_01_1024.jpg");
  }

  .hero__swiper-slide-02 {
    background-image: url("../img/hero_02_1024.jpg");
  }

  .hero__swiper-slide-03 {
    background-image: url("../img/hero_03_1024.jpg");
  }

  .about {
    margin-top: -37px;
    padding-bottom: 69px;
  }

  .about__content {
    flex: 0 1 100%;
  }

  .gallery {
    padding: 89px 0 61px;
  }

  .gallery__filter {
    flex: 0 1 35.5%;
  }

  .gallery__filter-description {
    margin-bottom: 9px;
  }

  .gallery__slider {
    flex: 0 1 64.5%;
    width: 64.5%;
  }

  .gallery__swiper-wrapper {
    height: 617px;
  }

  .catalog__header-list {
    padding-left: 3px;
    margin-bottom: -13px;
  }

  .catalog__accordion-content {
    flex: 0 1 47.5%;
  }

  .ui-accordion .ui-accordion-content {
    overflow: hidden;
  }

  .catalog__accordion-triger {
    flex: 0 1 47.5%;
  }

  .catalog__accordion-triger-name-item {
    width: calc(100% / 2);
  }

  .events__wrapper {
    gap: 27px;
  }

  .events__slide {
    width: calc((100% - 27px * 2) / 3);
    min-height: 683px;
  }

  .events__slide-content {
    padding: 216px 17px 51px 35px;
    background-size: 100% 200px;
  }

  .events__slide-heading {
    padding-right: 0;
  }

  .events__slide-info {
    padding-right: 15px;
  }

  .editions__checkbox {
    flex: 0 1 32%;
    padding-right: 18px;
  }

  .editions__prices-form-txt {
    margin: 0 12px;
  }

  .editions__slider {
    flex: 0 1 68%;
  }

  .editions__swiper-slide-img {
    margin-bottom: 13px;
    max-height: 320px;
  }

  .editions__swiper-slide-price {
    top: 76.5%;
  }

  .projects__description-text {
    flex: 0 1 100%;
  }

  .projects__swiper-wrapper {
    height: 130px;
  }

  .projects__swiper {
    margin: 0 25px;
  }

  .projects__swiper-slide {
    padding: 36px 50px;
  }

  .contacts__address-block {
    padding: 126px 100px 105px 0;
    flex: 0 1 47%;
  }

  .contacts__address-block::after {
    width: calc(100% - 52.5%);
  }

  .contacts__address {
    margin-bottom: 28px;
  }

  .contacts__form-label {
    margin-bottom: 23px;
  }

  .contacts__map-block {
    width: calc(100% - 47.5%);
  }

  .contacts__social-btn {
    width: 60px;
    height: 60px;
    margin-right: 30px;
  }

  .footer__social-btn:not(:last-child) {
    margin-right: 30px;
  }

  .footer__social-btn svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 992px) {
  .header__burger {
    margin-right: 0;
  }

  .header__search {
    max-width: 30px;
  }

  .header__search-active {
    position: absolute;
    z-index: 10;
    max-width: 100%;
    padding: 0 50px;
    background-color: #000000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header__search-container {
    width: 100%;
  }

  .header__search-form-btn {
    margin-right: 10px;
  }

  .header__form-container {
    min-width: 100%;
  }

  .header__search-form-input {
    width: calc(100% - 93px);
    margin-right: 23px;
  }

  .header__search-form-btn-x-active {
    display: block;
  }

  .hero__swiper-slide-01 {
    background-image: url("../img/hero_01_768.jpg");
  }

  .hero__swiper-slide-02 {
    background-image: url("../img/hero_02_768.jpg");
  }

  .hero__swiper-slide-03 {
    background-image: url("../img/hero_03_768.jpg");
  }

  .hero__content {
    flex: 0 1 100%;
    max-width: 100%;
  }

  .gallery {
    padding: 89px 0 70px;
  }

  .gallery__content {
    position: relative;
    flex-direction: column;
    min-height: 952px;
  }

  .gallery__content-active {
    min-height: 1052px;
  }

  .gallery__filter {
    height: 100%;
    flex: 1 1 100%;
    margin: 0;
  }

  .gallery__filter-formBlock {
    max-width: 280px;
  }

  .choices[data-type*="select-one"].is-open {
    margin-bottom: 80px;
  }

  .gallery__filter-description {
    align-self: flex-end;
    margin-top: auto;
    max-width: 100%;
    margin-bottom: 0;
  }

  .gallery__slider {
    top: 190px;
    position: absolute;
    width: 100%;
  }

  .gallery__content-active .gallery__slider {
    top: 290px;
  }

  .catalog {
    padding: 90px 0 57px;
  }

  .catalog__header {
    margin-bottom: 23px;
  }

  .catalog__header-top {
    justify-content: space-between;
  }

  .catalog__header-list {
    margin: 0;
    flex: 0 1 446px;
  }

  .catalog__accordion-block {
    flex-direction: column;
  }

  .catalog__accordion-triger {
    order: -1;
    margin-bottom: 50px;
  }

  #ui-id-30 {
    height: 340px;
  }

  .catalog__accordion-triger-name-item {
    width: calc(100% / 3);
  }

  .catalog__accordion-content {
    margin: 0;
  }

  .catalog__accordion-content-img {
    margin-bottom: 30px;
  }

  .catalog__accordion-content-img picture {
    display: flex;
    justify-content: center;
  }

  .catalog__accordion-content-date {
    margin-bottom: 5px;
  }

  .events__slide {
    width: calc((100% - 27px) / 2);
  }

  .events__slide:not(:nth-child(-n + 2)) {
    display: none;
  }

  .events__slide-content {
    background-size: 100% auto;
  }

  .events__slide-heading {
    padding-right: 10px;
  }

  .editions {
    padding: 90px 0 71px;
  }

  .editions__content {
    flex-direction: column;
  }

  .editions__checkbox {
    height: 377px;
    padding: 0;
  }

  .editions__heading {
    margin-bottom: 28px;
  }

  .editions__checkbox-form {
    height: 160px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .editions__checkbox-label {
    display: block;
    width: calc(100% / 3);
  }

  .editions__prices {
    margin-top: 26px;
  }

  .editions__slider {
    padding: 47px 30px 8px 30px;
  }

  .editions__swiper-btns {
    position: relative;
    left: -30px;
  }

  .projects__description {
    margin-bottom: 26px;
  }

  .projects__description-text {
    flex: 0 1 98%;
  }

  .projects__slider-heading {
    margin-bottom: 30px;
  }

  .projects__swiper-wrapper {
    height: 106px;
  }

  .projects__swiper-slide {
    padding: 25px;
  }

  .contacts__address-block {
    padding: 126px 40px 105px 0;
    flex: 0 1 56%;
  }

  .contacts__address-block::after {
    width: calc(100% - 44%);
  }

  .contacts__map-block {
    width: calc(100% - 56%);
  }
}

@media (max-width: 701px) {
  .container {
    padding: 0 15px;
  }

  .editions__slider {
    padding: 47px 0 8px 0;
  }

  .editions__swiper-btns {
    left: 0;
  }
}

@media (max-width: 650px) {
  .header__nav {
    height: 664px;
    padding-left: 15px;
  }

  .header__logIn {
    left: 15px;
    bottom: -495px;
  }

  .hero__content {
    text-align: center;
  }

  .hero__content-heading {
    font-size: 52px;
    line-height: 60px;
  }

  .hero__content-subtitle {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 70px;
  }

  .gallery__content {
    min-height: 764px;
  }

  .gallery__content-active {
    min-height: 864px;
  }

  .gallery__slider {
    top: 172px;
    height: 417px;
  }

  .gallery__content-active .gallery__slider {
    top: 252px;
  }

  .gallery__swiper {
    display: flex;
    flex-direction: column;
  }

  .gallery__swiper-wrapper {
    order: -1;
    margin-bottom: 20px;
    height: 367px;
  }

  .gallery__swiper-btns {
    padding: 0;
    min-width: 130px;
    align-self: center;
  }

  .gallery__swiper-slide {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .gallery__swiper-slide-picture {
    width: auto;
  }

  .catalog__header-top {
    flex-direction: column;
    align-items: normal;
  }

  .catalog__heading {
    margin-bottom: 20px;
  }

  .catalog__header-list {
    justify-content: space-between;
    flex: 0 1 32px;
  }

  .catalog__header-description {
    display: none;
  }

  .events__slide-content {
    padding-top: 70%;
  }

  #ui-id-30 {
    height: 500px;
  }

  .catalog__accordion-triger-name-item {
    width: calc(100% / 2);
  }

  .events__swiper {
    min-height: 713px;
  }

  .events__wrapper {
    min-height: 683px;
    flex-wrap: nowrap;
    gap: 0;
    margin-bottom: 13px;
  }

  .events__slide-heading {
    padding-right: 0;
    margin-bottom: 38px;
  }

  .events__slide:not(:nth-child(2))
    .events__slide-content
    .events__slide-heading {
    margin-bottom: 5px;
  }

  .events__wrapper .events__slide-active {
    display: flex;
  }

  .events__swiper-pagination {
    position: relative;
  }

  .swiper-pagination-bullet-active {
    background-color: #666;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -1px;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 7px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .events__content-btn {
    display: none;
  }

  .editions__swiper-btns {
    display: none;
  }

  .editions__swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .editions__swiper-slide {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }

  .editions__swiper-slide-img {
    order: 1;
  }

  .editions__swiper-slide-title {
    order: 2;
    white-space: nowrap;
  }

  .editions__swiper-slide-price {
    position: relative;
    order: 4;
    margin-bottom: 11px;
  }

  .editions__swiper-slide-author {
    order: 3;
    margin-bottom: 0;
    white-space: nowrap;
  }

  .editions__swiper-slide-btn {
    order: 5;
  }

  .contacts {
    padding-bottom: 30px;
  }

  .contacts__address-block {
    padding: 0;
    height: auto;
    flex: 0 1 100%;
  }

  .contacts__address-block::after {
    display: none;
  }

  .contacts__showroom-address {
    display: block;
    margin-bottom: 355px;
  }

  .contacts__map-block {
    top: 107px;
    flex: 0 1 100%;
    width: 100%;
    height: 320px;
  }

  .contacts__map {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .section-heading {
    font-size: 28px;
    line-height: 38px;
  }

  .text {
    font-size: 16px;
    line-height: 2;
  }

  .header__menu {
    height: 45px;
  }

  .header__burger svg {
    width: 25px;
    height: 18px;
  }

  .header__nav-close svg {
    width: 15px;
    height: 15px;
  }

  .header__nav-close-active {
    margin-bottom: 15px;
  }

  .header__nav {
    height: 355px;
    padding: 15px 0 30px 15px;
  }

  .header__nav-link {
    font-size: 16px;
    line-height: 2;
    font-weight: 600;
  }

  .header__logIn {
    bottom: -268px;
  }

  .header__logIn-link {
    padding: 11px 30px;
    font-size: 12px;
    line-height: 16px;
  }

  .header__logIn-link svg {
    width: 10px;
    height: 10px;
  }

  .header__logo-link svg {
    width: 97px;
    height: 22px;
  }

  .header__search {
    max-width: 22px;
  }

  .header__search-active {
    top: 0;
    max-width: 100%;
    height: 75px;
    padding: 0 15px 0 50px;
  }

  .header__search-container {
    padding-top: 15px;
    height: 100%;
  }

  .header__form-container {
    height: 100%;
  }

  .header__search-btn {
    top: 12px;
  }

  .header__search-btn svg {
    width: 18px;
    height: 18px;
  }

  .header__search-form {
    height: 100%;
    justify-content: space-between;
  }

  .header__search-form-btn svg {
    width: 18px;
    height: 18px;
  }

  .header__search-form-input {
    min-width: 180px;
  }

  .header__search-form-btn-x {
    margin-bottom: auto;
  }

  .header__search-form-btn-x svg {
    width: 15px;
    height: 15px;
  }

  .hero__content {
    padding: 157px 0 46px 0;
    max-width: 265px;
    margin: 0 auto;
  }

  .hero__swiper-slide-01 {
    background-image: url("../img/hero_01_320.jpg");
  }

  .hero__swiper-slide-02 {
    background-image: url("../img/hero_02_320.jpg");
  }

  .hero__swiper-slide-03 {
    background-image: url("../img/hero_03_320.jpg");
  }

  .hero__content-heading {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .hero__content-subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 40px;
  }

  .hero__content-btn {
    font-size: 12px;
    line-height: 16px;
    padding: 9px 16px;
  }

  .about {
    margin-top: -74px;
    padding-bottom: 40px;
  }

  .about__heading {
    margin-bottom: 10px;
  }

  .about__text {
    font-size: 14px;
  }

  .gallery {
    padding: 51px 0 40px;
  }

  .gallery__filter-formBlock {
    max-width: 100%;
  }

  .gallery__heading {
    margin-bottom: 18px;
  }

  .gallery__filter-form-label {
    margin-bottom: 11px;
  }

  .gallery__filter-description {
    padding-right: 10px;
  }

  .gallery__filter-description-text {
    font-size: 16px;
    line-height: 2;
  }

  .gallery__slider {
    top: 152px;
  }

  .catalog {
    padding: 54px 0 38px;
  }

  .catalog__header-top {
    margin-bottom: 18px;
  }

  .catalog__header {
    margin-bottom: 18px;
  }

  .catalog__heading {
    margin-bottom: 8px;
  }

  .catalog__header-btn {
    height: 32px;
  }

  .catalog__header-btn-active::after {
    margin: -7px;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 18px;
    line-height: 32px;
    padding: 21px 0 19px 0;
  }

  .ui-accordion .ui-accordion-header::after {
    width: 30px;
    height: 30px;
    background-size: 10px 10px;
  }

  #ui-id-30 {
    height: auto;
  }

  .ui-accordion .ui-accordion-content {
    flex-wrap: nowrap;
    height: auto;
    padding: 20px 0;
  }

  .catalog__accordion-content-img {
    margin-bottom: 20px;
  }

  .catalog__accordion-content-name {
    margin-bottom: 14px;
  }

  .catalog__accordion-content-info {
    font-size: 16px;
    padding-right: 1px;
  }

  .events {
    padding: 10px 0 47px;
  }

  .events__heading {
    margin-bottom: 11px;
  }

  .events__slide-content {
    padding: 74% 11px 51px 28px;
  }

  .events__slide-info {
    font-size: 16px;
  }

  .editions {
    padding: 50px 0 0;
  }

  .editions__heading {
    margin-bottom: 12px;
  }

  .editions__checkbox-heading {
    border: 1px solid #fff;
    border-width: 1px 0 1px 0;
    padding: 3px 0;
  }

  .editions__checkbox {
    position: relative;
    padding: 0;
    height: auto;
    margin-bottom: 49px;
    max-height: 700px;
  }

  .editions__checkbox-heading-icon {
    position: absolute;
    margin: 0;
    width: 7px;
    height: 7px;
    right: 2px;
    top: 66px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    transform: rotate(45deg);
  }

  .arrow-icon-active {
    transform: rotate(225deg);
  }

  .editions__checkbox-form {
    height: auto;
    flex-wrap: nowrap;
    margin-bottom: 18px;
  }

  .editions__checkbox-input:checked::after {
    content: "";
    position: absolute;
    top: 3px;
    right: 0;
    width: 13px;
    height: 12px;
    background-image: url("../img/editions_X.png");
  }

  .editions__checkbox-label {
    width: 100%;
    padding: 3px 0 3px 24px;
    display: none;
    position: relative;
    margin-top: -1px;
    margin-right: 0;
    border: 1px solid #fff;
    border-width: 1px 0 1px 0;
  }

  .editions__checkbox-input + span {
    top: 13px;
  }

  .active_label {
    display: block;
  }

  .editions__prices {
    margin-top: 18px;
  }

  .editions__slider {
    padding: 0;
  }

  .editions__swiper-slide {
    overflow: hidden;
    padding-bottom: 8px;
    margin-bottom: 42px;
  }

  .editions__swiper-slide-img {
    margin-bottom: 10px;
  }

  .editions__swiper-slide-title {
    font-size: 12px;
    line-height: 16px;
  }

  .editions__swiper-slide-price {
    font-size: 12px;
    line-height: 16px;
  }

  .editions__swiper-slide-author {
    font-size: 12px;
    line-height: 16px;
  }

  .editions__swiper-slide-btn {
    margin-left: 6px;
    font-size: 12px;
    line-height: 16px;
    padding: 10px 28px;
  }

  .projects {
    padding: 53px 0 48px;
  }

  .projects__heading {
    margin-bottom: 12px;
  }

  .projects__description {
    margin-bottom: 10px;
  }

  .projects__description-text {
    flex: 0 1 100%;
  }

  .projects__slider-heading {
    font-size: 18px;
    margin-bottom: 9px;
  }

  .projects__swiper-wrapper {
    height: 68px;
  }

  .projects__swiper {
    margin: 0 20px;
  }

  .projects__swiper-slide {
    padding: 18px;
  }

  .contacts__heading {
    margin-bottom: 11px;
  }

  .contacts__showroom-name {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0;
  }

  .contacts__showroom-address {
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__callback-heading {
    font-size: 18px;
  }

  .contacts__form-label {
    margin-bottom: 21px;
  }

  .contacts__form-btn {
    font-size: 12px;
    line-height: 16px;
    padding: 10px 33px;
  }

  .contacts__callback {
    margin-bottom: 23px;
  }

  .contacts__social-heading {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .contacts__social-btn {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .ymaps-2-1-79-map::after {
    position: absolute;
    content: "";
    z-index: 2;
    top: 0;
    right: 50px;
    bottom: 0;
    left: 0;
  }

  .footer {
    height: 132px;
    padding: 21px 0 16px;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__social {
    order: -1;
  }

  .footer__social-btn svg {
    width: 50px;
    height: 50px;
  }

  .footer__logo-link svg {
    width: 97px;
    height: 22px;
  }
}
