/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v18-latin_cyrillic-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v18-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --purplewhite: #d1a9f0;
  --purple: #9d5cd0;
  --purpledark: #7943a4;
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

button {
  color: inherit;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}

input {
  border: 0;
  background-color: transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@media (min-width: 650px) {
  .link-focus:hover:not(:focus-visible) {
    color: var(--purple);
  }

  .btn-focus:hover:not(:focus-visible) {
    border-color: var(--purplewhite);
  }

  .swiper-btn:hover:not(.swiper-button-disabled) {
    background-color: var(--purple);
    border-color: var(--purple);
  }

  .header__logo-link:hover svg path {
    fill: var(--purple);
  }

  .header__logIn-link:hover:not(:focus-visible) svg path {
    fill: var(--purple);
  }

  .header__logIn-link.btn-focus:hover:not(:focus-visible) {
    background-color: var(--purple);
    border-color: var(--purple);
  }

  .header__popup-btn:hover svg path {
    stroke: var(--purple);
  }

  .header__simplebar-item-text:hover::before {
    z-index: 2;
    opacity: 1;
  }

  .header__search-btn rect:hover,
  .header__search-btn path:hover,
  .header__search-form-btn rect:hover,
  .header__search-form-btn path:hover {
    fill: var(--purple);
  }

  .header__search-form-btn:hover svg rect,
  .header__search-form-btn:hover svg path {
    fill: var(--purple);
  }

  .header__search-form-input:hover {
    border-color: var(--purple);
  }

  .choices__inner:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .gallery__filter-description-link:hover {
    color: var(--purple);
  }

  .gallery__swiper-slide-picture:hover::before {
    z-index: 3;
    opacity: 1;
  }

  .catalog__header-btn:hover {
    box-shadow: 0px 0px 20px 0px #9d5cd0b2;
  }

  .ui-accordion .ui-accordion-header:hover {
    border-color: var(--purple);
  }

  .catalog__accordion-triger-name-link:hover {
    color: var(--purple);
  }

  .ui-accordion .ui-accordion-header:hover::after {
    background-color: var(--purplewhite);
  }

  .catalog__accordion-triger-name-link:hover:not(:active):before {
    z-index: 1;
    opacity: 1;
  }

  .link-focus.events__slide-link:hover {
    color: var(--purpledark);
    border-color: var(--purpledark);
  }

  .events__content-btn.btn-focus:hover {
    background-color: var(--purple);
    color: #fff;
  }

  .editions__checkbox-input:hover + span {
    border-color: #c283f3;
  }

  .editions__checkbox-input:hover + span + small {
    color: #c283f3;
  }

  .editions__prices-input:hover {
    background-color: var(--purple);
  }

  .editions__swiper-slide-btn.btn-focus:hover {
    background-color: var(--purple);
    border-color: var(--purple);
  }

  .projects__description-tooltip-marker:hover svg {
    fill: var(--purplewhite);
  }

  .projects__description-link:hover::after {
    opacity: 1;
  }

  .projects__swiper-btn:hover:not(.swiper-button-disabled) {
    background-color: var(--purplewhite);
    border-color: var(--purplewhite);
  }

  .projects__swiper-slide:hover .projects__swiper-img {
    filter: grayscale(0);
    opacity: 1;
  }

  .contacts__form-input:hover {
    background-color: #eaeaea;
  }

  .contacts__form-btn.btn-focus:hover {
    background-color: var(--purple);
    color: #fff;
  }

  .contacts__social-btn:hover::after {
    opacity: 1;
    z-index: 2;
  }

  .footer__logo-link:hover svg path {
    fill: var(--purple);
  }

  .footer__social-btn:hover path {
    fill: #fff;
  }
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333;
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.link-focus,
.btn-focus {
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.link-focus:before,
.btn-focus:before {
  content: "";
  position: absolute;
  background-color: var(--purpledark);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.link-focus:before {
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
}

.btn-focus:before {
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background-color: transparent;
  border: 2px solid #c283f3;
  border-radius: 100px;
}

.btn-focus {
  border-radius: 100px;
}

.link-focus:focus-visible:before,
.btn-focus:focus-visible:before {
  opacity: 1;
}

.link-focus:active:not(:focus-visible) {
  color: var(--purpledark);
}

.btn-focus:active:not(:focus-visible) {
  border-color: var(--purplewhite);
  background-color: var(--purpledark);
}

.swiper-btn {
  cursor: pointer;
  border: 2px solid #666;
  border-radius: 100px;
  width: 28px;
  height: 28px;
  background-color: #666;
  border-radius: 50%;
  background-position: 45% 45%;
  background-repeat: no-repeat;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.swiper-btn:active:not(.swiper-button-disabled) {
  background-color: var(--purpledark);
  border-color: #000;
}

.swiper-btn:focus-visible:not(.swiper-button-disabled) {
  border-color: #000;
}

.swiper-btn-prev {
  background-image: url("../img/gallery__swiper-btn-prev.svg");
}

.swiper-btn-next {
  background-position: 55% 45%;
  background-image: url("../img/gallery__swiper-btn-next.svg");
}

.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-notification {
  display: none;
}

.swiper-slide-btn {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 2px solid var(--purple);
  opacity: 0;
  z-index: -1;
  transition: z-index 0.3s ease-in-out, opacity 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.swiper-slide:active .swiper-slide-btn {
  opacity: 1;
  z-index: 3;
}

.swiper-slide-btn:focus-visible {
  opacity: 1;
  z-index: 3;
}

.header {
  color: #fff;
  position: relative;
  z-index: 3;
}

.header__menu {
  height: 100px;
  background-color: #000;
}

.header__menu-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__burger {
  display: none;
}

.header__logo {
  flex: 0 1 19.1%;
  display: flex;
  justify-content: flex-start;
  margin-right: 60px;
}

.header__logo-link svg {
  width: 173px;
  height: 40px;
}

.header__logo-link svg path {
  transition: fill 0.3s ease-in-out;
}

.header__logo-link:active svg path {
  fill: var(--purpledark);
}

.header__logo-link:focus-visible svg path {
  fill: var(--purpledark);
}

.header__nav {
  flex: 0 1 58.5%;
  margin-right: 30px;
}

.header__nav-close {
  display: none;
}

.header__nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__nav-item:not(:last-child) {
  margin-right: 30px;
}

.header__nav-link {
  white-space: nowrap;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}

.header__logIn {
  flex: 0 1 21%;
  display: flex;
  justify-content: flex-end;
}

.header__logIn-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}

.header__logIn-link svg path {
  transition: fill 0.3s ease-in-out;
}

.header__logIn-link:active:not(:focus-visible) svg path {
  fill: var(--purpledark);
}

.header__search-tablet {
  display: none;
}

.header__popup {padding: 21px 0;
  /* height: 70px; */
  background: #00000066;
}

.header__popup-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* height: 100%; */
}

.header__popup-list {
  flex: 0 1 64.6%;
  display: flex;
  justify-content: space-between;
}

.header__popup-item {
  position: relative;
}

.header__popup-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}

.header__popup-btn svg {
  transition: transform 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.header__popup-btn svg path {
  transition: stroke 0.3s ease-in-out;
}

.header__popup-btn:active svg path {
  stroke: var(--purpledark);
}

.popup__active-btn svg {
  transform: rotate(180deg);
}

.header__popup-dropdown {
  position: absolute;
  top: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.simplebar-container {
  max-width: 300px;
  padding: 40px;
}

.popup__active-dropdown {
  display: block;
}

.simplebar-1,
.simplebar-2,
.simplebar-3,
.simplebar-4,
.simplebar-5 {
  height: 220px;
  padding-right: 240px;
}

.simplebar-track.simplebar-vertical {
  background-color: #000;
  width: 2px;
}

.simplebar-scrollbar {
  width: 2px;
  background-color: #fff;
}

.header__popup-dropdown-item {
  z-index: 1;
  width: 220px;
  margin-bottom: 20px;
}

.header__simplebar-item-text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid var(--purpledark);
  z-index: -1;
  opacity: 0;
  transition: z-index 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.header__simplebar-item-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c283f366;
  z-index: -1;
  opacity: 0;
  transition: z-index 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.header__simplebar-item-text:active::after {
  z-index: 2;
  opacity: 1;
}

.header__simplebar-item-text:focus-visible::before {
  z-index: 2;
  opacity: 1;
}

.header__simplebar-item-text {
  display: block;
  white-space: nowrap;
  position: relative;
  padding: 10px 14px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.header__popup-simplebar__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__popup-simplebar__item-01 {
  background-image: url("../img/header__select-01.jpg");
}
.header__popup-simplebar__item-02 {
  background-image: url("../img/header__select-02.jpg");
}
.header__popup-simplebar__item-03 {
  background-image: url("../img/header__select-03.jpg");
}
.header__popup-simplebar__item-04 {
  background-image: url("../img/header__select-04.jpg");
}

.header__popup-simplebar__item-05 {
  background-image: url("../img/header__select-05.jpg");
}
.header__popup-simplebar__item-06 {
  background-image: url("../img/header__select-06.jpg");
}
.header__popup-simplebar__item-07 {
  background-image: url("../img/header__select-07.jpg");
}
.header__popup-simplebar__item-08 {
  background-image: url("../img/header__select-08.jpg");
}

.header__popup-simplebar__item-09 {
  background-image: url("../img/header__select-09.jpg");
}
.header__popup-simplebar__item-10 {
  background-image: url("../img/header__select-10.jpg");
}
.header__popup-simplebar__item-11 {
  background-image: url("../img/header__select-11.jpg");
}
.header__popup-simplebar__item-12 {
  background-image: url("../img/header__select-12.jpg");
}

.header__popup-simplebar__item-13 {
  background-image: url("../img/header__select-13.jpg");
}
.header__popup-simplebar__item-14 {
  background-image: url("../img/header__select-14.jpg");
}
.header__popup-simplebar__item-15 {
  background-image: url("../img/header__select-15.jpg");
}
.header__popup-simplebar__item-16 {
  background-image: url("../img/header__select-16.jpg");
}

.header__popup-simplebar__item-17 {
  background-image: url("../img/header__select-17.jpg");
}
.header__popup-simplebar__item-18 {
  background-image: url("../img/header__select-18.jpg");
}
.header__popup-simplebar__item-19 {
  background-image: url("../img/header__select-19.jpg");
}
.header__popup-simplebar__item-20 {
  background-image: url("../img/header__select-20.jpg");
}



.header__search-container {
  position: relative;
  overflow: hidden;
}

.header__form-container {
  display: inline-block;
}

.header__search-btn {
  display: none;
  position: relative;
  opacity: 1;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}

.header__search-btn rect,
.header__search-btn path,
.header__search-form-btn rect,
.header__search-form-btn path {
  transition: fill 0.3s ease-in-out;
}

.header__search-form {
  display: flex;
  align-items: center;
}

.header__search-form-btn {
  position: relative;
  z-index: 1;
  display: block;
  margin-right: 8px;
}

.header__search-form-btn:active svg rect,
.header__search-form-btn:active svg path {
  fill: var(--purpledark);
}

.header__search-form-btn:focus-visible svg rect,
.header__search-form-btn:focus-visible svg path {
  fill: var(--purpledark);
}

.header__search-form-input {
  cursor: pointer;
  display: block;
  padding-left: 0;
  min-width: 220px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

.header__search-form-input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.header__search-form-input:active {
  border-color: var(--purpledark);
}

.header__search-form-input:focus-visible {
  border-color: var(--purple);
}

.header__search-form-input:focus-visible::placeholder {
  color: transparent;
}

.header__search-form-btn-x {
  display: none;
}

.hero {
  top: -170px;
  position: relative;
  overflow: hidden;
}

.hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  animation-delay: 2s;
  animation: herozoom 3s ease infinite;
}

.hero__swiper-slide {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__swiper-slide-01 {
  background-image: url("../img/hero_1-1920-min.jpg");
}

.hero__swiper-slide-02 {
  background-image: url("../img/hero_2-1920-min.jpg");
}

.hero__swiper-slide-03 {
  background-image: url("../img/hero_3-1920-min.jpg");
}

@keyframes herozoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hero__container {
  z-index: 2;
  position: relative;
  display: flex;
}

.hero__content {
  padding: 238px 0 122px 0;
  max-width: 565px;
  flex: 0 1 60%;
}

.hero__content-heading {
  color: #fff;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  margin-bottom: 22px;
}

.hero__content-subtitle {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 93px;
}

.hero__content-btn {
  display: inline-block;
  border: 3px solid var(--purple);
  background-color: var(--purple);
  padding: 22px 32px;
  color: #fff;
}

.about {
  margin-top: -81px;
  padding-bottom: 70px;
}

.about__container {
  display: flex;
}

.about__content {
  flex: 0 1 67.5%;
}

.about__heading {
  margin-bottom: 25px;
}

.gallery {
  padding: 89px 0 83px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/gallery_fon-min.jpg");
}

.gallery__content {
  display: flex;
}

.gallery__filter {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  flex: 0 1 28%;
}

.gallery__heading {
  margin-bottom: 30px;
  color: #fff;
}

.gallery__filter-form-label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 1;
  color: #fff;
}

.choices[data-type*="select-one"] .choices__inner {
  padding: 0 15px;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices__inner {
  min-height: 40px;
  vertical-align: middle;
  padding: 0 15px 0;
  border-radius: 6px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.choices__inner:active,
.is-focused .choices__inner,
.is-open .choices__inner {
  background-color: rgba(255, 255, 255, 0.1);
}

.choices[data-type*="select-one"]:after {
  content: "";
  position: absolute;
  margin: 0;
  width: 7px;
  height: 7px;
  right: 15px;
  top: 15px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;
  transform: rotate(45deg);
}

.choices[data-type*="select-one"].is-open:after {
  margin: 0;
  border-color: #fff;
  transform: rotate(225deg);
}

.choices__list {
  background-color: transparent;
}

.choices__item {
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  background-color: transparent;
  opacity: 1;
}

.choices__list--single {
  padding: 0;
  color: #fff;
}

.choices__list--dropdown {
  color: #979696;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item {
  padding: 0 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
}

.choices__list--dropdown .is-selected {
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.gallery__filter-description {
  padding-right: 60px;
  margin-top: auto;
  margin-bottom: -9px;
}

.gallery__filter-description-text {
  color: #fff;
}

.gallery__filter-description-link {
  color: #c283f3;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.gallery__filter-description-link:active {
  color: var(--purpledark);
}

.gallery__filter-description-link:focus-visible {
  background-color: var(--purpledark);
  color: #fff;
}

.gallery__slider {
  flex: 0 1 72%;
  width: 72%;
  padding-top: 15px;
}

.gallery__swiper-btns {
  padding-left: 5px;
  max-width: 135px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.gallery__swiper-pagination {
  text-align: center;
  max-width: 73px;
  color: #fff;
}

.gallery__swiper-wrapper {
  height: 751px;
}

.gallery__swiper-slide {
  z-index: 10;
  display: block;
  cursor: pointer;
  height: calc((100% - 50px) / 2);
}

.gallery__swiper-slide:focus-visible {
  border: 3px solid var(--purpledark);
  outline-offset: -3px;
}

.gallery__swiper-slide-picture {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: outline 0.3s ease-in-out;
}

.gallery__swiper-slide-picture:active {
  outline: 3px solid var(--purplewhite);
  outline-offset: -3px;
}

.gallery__swiper-slide-picture:before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/gallery_slide-hover.svg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0;
  transition: z-index 0.3s ease-in-out, opacity 0.6s ease-in-out;
}

.gallery__swiper-slide-picture::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #c283f366;
  z-index: -1;
  opacity: 0;
  transition: z-index 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.gallery__swiper-slide-picture:active::after {
  z-index: 0;
  opacity: 1;
}

.gallery__swiper-slide-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.catalog {
  padding: 90px 0 70px;
}

.catalog__header {
  margin-bottom: 40px;
}

.catalog__header-top {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.catalog__heading {
  line-height: 50px;
  margin-right: 40px;
  transform: translateY(-3px);
}

.catalog__header-list {
  display: flex;
  flex: 0 1 430px;
  justify-content: space-between;
}

.catalog__header-item {
  max-height: 46px;
}

.catalog__header-btn {
  cursor: pointer;
  position: relative;
  max-height: 46px;
  border-radius: 100px;
  transition: box-shadow 0.3s ease-in-out;
}

.catalog__header-btn::before {
  position: absolute;
  opacity: 0;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid var(--purple);
  border-radius: 50%;
}

.catalog__header-btn-active:focus {
  outline-offset: 13px;
}

.catalog__header-btn-active::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -10px;
  border: 3px solid var(--purple);
  border-radius: 50%;
}

.catalog__header-btn:active:before {
  opacity: 1;
}

.catalog__header-btn:focus-visible {
  box-shadow: 0px 0px 20px 0px #9d5cd0b2;
}

.catalog__header-btn-flag {
  user-select: none;
  pointer-events: none;
  height: 100%;
}

.catalog__header-description {
  max-width: 1080px;
}

.catalog__accordion {
  display: none;
}

.catalog__accordion-active {
  display: block;
}

.catalog__accordion-block {
  display: flex;
}

.catalog__accordion-content {
  flex: 0 1 47%;
  margin-right: 50px;
}

.catalog__accordion-content-item {
  transform: translateY(-2px);
  display: none;
}

.catalog__accordion-content-item-active {
  display: block;
}

.catalog__accordion-content-img {
  margin-bottom: 27px;
}

.catalog__accordion-content-name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333;
}

.catalog__accordion-content-date {
  display: block;
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.ui-state-active {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
}

.catalog__accordion-triger {
  flex: 0 1 50%;
}

.catalog__accordion-triger-item:not(:first-child) {
  margin-top: -1px;
}

.ui-accordion .ui-accordion-header {
  position: relative;
  z-index: 2;
  padding: 32px 0 32px 0;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
  color: #333;
  border: 1px solid #cacaca;
  border-width: 1px 0 1px 0;
  background-color: transparent;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.ui-accordion .ui-accordion-header:active {
  color: var(--purpledark);
  border-color: var(--purpledark);
}

.ui-accordion .ui-accordion-header-active {
  color: var(--purpledark);
  border-color: var(--purpledark);
  margin-top: -1px;
}

.ui-accordion .ui-accordion-header::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  right: 0;
  border: 1px solid #ececec;
  border-radius: 50%;
  background-image: url("../img/accordion_icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ececec;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.ui-accordion .ui-accordion-header::before {
  position: absolute;
  content: "";
  top: 32px;
  bottom: 32px;
  left: 0;
  width: 210px;
  background-color: var(--purple);
  z-index: -1;
  opacity: 0;
}

.ui-accordion .ui-accordion-header:active::after {
  border-color: var(--purpledark);
}

.ui-accordion .ui-accordion-header:focus-visible {
  color: #fff;
}

.ui-accordion .ui-accordion-header:focus-visible::before {
  opacity: 1;
}

.ui-accordion .ui-accordion-header-active::after {
  background-color: var(--purplewhite);
  transform: rotate(180deg);
}

.ui-accordion .ui-accordion-content {
  border: none;
  padding: 26px 0;
}

#ui-id-30 {
  height: 340px;
}

.catalog__accordion-triger-name-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.catalog__accordion-triger-name-item {
  white-space: nowrap;
  width: calc(94% / 3);
}

.catalog__accordion-triger-name-link {
  font-weight: 400;

  line-height: 32px;
  color: #333;
  position: relative;
  transition: z-index 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.catalog__accordion-triger-name-link::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 1px;
  left: 0;
  border-bottom: 1px solid var(--purple);
  z-index: -1;
  opacity: 0;
}

.catalog__accordion-triger-name-link:active {
  color: var(--purpledark);
}

.catalog__accordion-triger-name-link:focus-visible {
  color: #fff;
  background-color: var(--purple);
}

.ui-widget {
  font-family: "Open Sans", sans-serif;
}

.ui-widget button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.catalog__accordion-triger-name-link-active {
  color: var(--purple);
}

.events {
  padding: 20px 0 80px;
}

.events__heading {
  margin-bottom: 23px;
}

.events__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 50px;
}

.events__slide {
  display: flex;
  width: calc((100% - 50px * 2) / 3);
  min-height: 700px;
}

.events__slide:not(:nth-child(-n + 3)) {
  display: none;
}

.events__slide-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  outline: 1px solid #cacaca;
  outline-offset: -1px;
  padding: 316px 17px 42px 51px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}
.events__slide-content-01 {
  background-image: url("../img/events_01-min.jpg");
}
.events__slide-suptitle {
  display: block;
  margin-bottom: 3px;
  text-align: end;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}
.events__slide-heading {
  margin-bottom: 3px;
  padding-right: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333;
}
.events__slide-info {
  padding-right: 30px;
  margin-bottom: 30px;
}
.events__slide-link {
  position: relative;
  margin-top: auto;
  justify-self: end;
  padding-bottom: 4px;
  max-width: 92px;
  color: var(--purple);
  border-bottom: 1px solid var(--purple);
  transition: color 0.3s ease-in-out;
}

.link-focus.events__slide-link:active {
  color: #333;
  border-color: #333;
}

.link-focus.events__slide-link:focus-visible {
  color: #fff;
  border-color: #fff;
}

.events__slide-content-02 {
  background-image: url("../img/events_02-min.jpg");
}

.events__slide-content-03 {
  background-image: url("../img/events_03-min.jpg");
}

.events__slide-content-04 {
  background-image: url("../img/events_04-min.jpg");
}

.events__slide-content-05 {
  background-image: url("../img/events_05-min.jpg");
}

.events__btn-block {
  text-align: center;
}

.events__content-btn {
  border: 2px solid var(--purple);
  padding: 19px 35px 18px;
  background-color: transparent;
  color: var(--purple);
}

.events__content-btn.btn-focus:active {
  background-color: var(--purpledark);
  border: 3px solid var(--purplewhite);
}

.editions {
  padding: 90px 0 68px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/editions_1920.jpg");
}

.editions__heading {
  color: #fff;
  margin-bottom: 20px;
}

.editions__content {
  display: flex;
}

.editions__checkbox {
  flex: 0 1 28%;
  padding-right: 170px;
}

.editions__checkbox-heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.editions__checkbox-label {
  position: relative;
  cursor: pointer;
  padding-left: 24px;
  display: block;
  width: fit-content;
}

.editions__checkbox-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.editions__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 10px;
  width: 100%;
  height: 14px;
  background-color: transparent;
}

.editions__checkbox-input + span {
  position: absolute;
  left: 0;
  top: 10px;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  transition: border-color 0.3s ease-in-out;
}

.editions__checkbox-input:checked + span {
  border-color: #c283f3;
}

.editions__checkbox-input + span + small {
  transition: color 0.3s ease-in-out;
}

.editions__checkbox-input:checked + span + small {
  color: #c283f3;
}

.editions__checkbox-input:checked + span::before {
  position: absolute;
  content: "";
  top: 30%;
  left: 30%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c283f3;
}

.editions__checkbox-input:active + span {
  border-color: var(--purpledark);
}

.editions__checkbox-input:active + span + small {
  color: var(--purpledark);
}

.editions__checkbox-input:focus-visible + span {
  border-color: #c283f3;
}

.editions__checkbox-input:focus-visible + span + small {
  color: #c283f3;
}

.editions__prices {
  margin-top: 30px;
}

.editions__prices-heading {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.editions__prices-form {
  display: flex;
  max-width: 277px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: #fff;
}

.editions__prices-form-text {
  margin: 0 10px;
  line-height: 40px;
  font-size: 16px;
}

.editions__prices-input {
  max-width: 73px;
  height: 100%;
  background-color: rgba(158, 93, 208, 0.5);
  border: 0;
  color: #fff;
  padding: 0 10px;
  transition: background-color 0.3s ease-in-out;
}

.editions__prices-input:active {
  background-color: var(--purpledark);
}

.editions__prices-input:focus-visible {
  border: 1px solid #fff;
  background-color: var(--purple);
}

.editions__prices-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}

.editions__slider {
  padding-top: 23px;
  overflow: hidden;
  flex: 0 1 72%;
  max-width: 1151px;
  height: 605px;
  position: relative;
}

.editions__swiper-btns {
  max-width: 135px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 33px;
}
.editions__swiper-pagination {
  text-align: center;
  max-width: 74px;
  color: #fff;
}

.editions__swiper-slide {
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
}

.editions__swiper-slide-img {
  margin-bottom: 23px;
  max-height: 390px;
}

.editions__swiper-slide-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.editions__swiper-slide-price {
  position: absolute;
  right: 0;
  top: 80%;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
}

.editions__swiper-slide-author {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}

.editions__swiper-slide-btn {
  position: relative;
  margin-left: 6px;
  padding: 8px 20px;
  border: 2px solid var(--purple);
  border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  align-self: start;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.editions__swiper-slide-btn.btn-focus:active {
  background-color: var(--purpledark);
  border: 2px solid var(--purplewhite);
}

.projects {
  padding: 88px 0 87px;
}

.projects__heading {
  margin-bottom: 25px;
}

.projects__description {
  display: flex;
  margin-bottom: 20px;
  line-height: 33px;
}

.projects__description-text {
  flex: 0 1 68%;
  max-width: 1080px;
}

.projects__description-tooltip-marker svg {
  pointer-events: none;
  transition: fill 0.3s ease-in-out;
}

.projects__description-tooltip-marker:focus-visible svg {
  fill: var(--purplewhite);
}

.projects__description-tooltip-marker:active svg {
  fill: var(--purple);
}

.projects__description-tooltip-marker:active path:nth-child(2) {
  fill: #fff;
}

.projects__description-tooltip-marker[aria-describedby] svg {
  fill: var(--purple);
}

.projects__description-tooltip-marker[aria-describedby] path:nth-child(2) {
  fill: #fff;
}

.tippy-box {
  text-align: center;
  background-color: var(--purple);
  padding: 7px 11px;
}

.tippy-box[data-theme~="purple"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: var(--purple);
}
.tippy-box[data-theme~="purple"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: var(--purple);
}
.tippy-box[data-theme~="purple"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: var(--purple);
}
.tippy-box[data-theme~="purple"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: var(--purple);
}

.projects__description-tooltip-popup {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.projects__description-link {
  color: var(--purple);
  font-weight: 600;
  position: relative;
}

.projects__description-link::after {
  position: absolute;
  content: "";
  opacity: 0;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--purple);
  transition: opacity 0.3s ease-in-out;
}

.projects__description-link:active {
  color: var(--purpledark);
}

.projects__description-link:active::after {
  background-color: var(--purpledark);
  opacity: 1;
}

.projects__description-link:focus-visible {
  color: #fff;
}

.projects__slider-heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333;
  margin-bottom: 23px;
}

.projects__swiper-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__swiper {
  overflow: hidden;
  max-width: 1450px;
  margin: 0 45px;
}

.projects__swiper-btn {
  min-width: 28px;
  background-color: #ececec;
  border-color: #ececec;
  background-position: center;
}

.projects__swiper-btn:active:not(.swiper-button-disabled) {
  border-color: var(--purple);
  background-color: var(--purplewhite);
}

.projects__swiper-btn:focus-visible:not(.swiper-button-disabled) {
  background-color: #ececec;
  border-color: var(--purple);
}

.projects__swiper-btn-prev {
  background-image: url("../img/projects__swiper-btn-prev.svg");
}

.projects__swiper-btn-next {
  background-image: url("../img/projects__swiper-btn-next.svg");
}

.projects__swiper-btn-prev.swiper-button-disabled {
  background-image: url("../img/projects__swiper-btn-prev-dis.svg");
}

.projects__swiper-btn-next.swiper-button-disabled {
  background-image: url("../img/projects__swiper-btn-next-dis.svg");
}

.projects__swiper-wrapper {
  height: 150px;
}

.projects__swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3%;
  border: 1px solid #cacaca;
  height: calc(100% - 2px);
  transition: border-color 0.3s ease-in-out;
}

.projects__swiper-slide:active {
  border-color: var(--purple);
}

.projects__swiper-slide:focus-visible {
  border-color: var(--purple);
}

.projects__swiper-img {
  transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
  filter: grayscale(100%);
  opacity: 0.5;
}

.contacts {
  position: relative;
}

.contacts__send-form {
  display: none;
  opacity: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 1505px;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 1s ease-in-out;
}

.contacts__send-form-text {
  transform: translateY(300px);
  background-color: #fff;
  border-radius: 20px;
  padding: 3% 0;
  text-align: center;
  max-width: 290px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.contacts__heading {
  margin-bottom: 22px;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__address-block {
  padding: 128px 122px 124px 0;
  flex: 0 1 32.5%;
  color: #333;
  height: 704px;
}

.contacts__address-block::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  height: 704px;
  width: calc(100% - 64.7%);
  border: 1px solid #cacaca;
}

@media (min-width: 2000px) {
  .contacts__address-block::after {
    width: calc(100% - 63%);
  }

  .contacts__map-block {
    width: calc(100% - 37%);
  }
}

.contacts__address {
  margin-bottom: 30px;
}

.contacts__showroom-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 3px;
  color: #333;
}

.contacts__showroom-address {
  line-height: 32px;
  color: #333;
}

.contacts__callback {
  margin-bottom: 38px;
}

.contacts__callback-heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 14px;
  color: #333;
}
.contacts__form {
  display: flex;
  flex-direction: column;
}
.contacts__form-label {
  margin-bottom: 22px;
  position: relative;
}
.contacts__form-input {
  width: 100%;
  font-size: 16px;
  line-height: 38px;
  border: 1px solid #333;
  border-radius: 100px;
  padding: 0 24px;
  transition: background-color 0.3s ease-in-out;
}

.contacts__form-input::placeholder {
  color: #999;
}

.contacts__form-input:focus-visible {
  background-color: #eaeaea;
}

.js-validate-error-label {
  font-size: 12px;
  line-height: 16px;
  color: #d11616;
  position: absolute;
  top: -15px;
  left: 20px;
}

.contacts__form-btn {
  position: relative;
  align-self: start;
  padding: 16px 33px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--purple);
  border: 2px solid var(--purpledark);
  border-radius: 100px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contacts__form-btn.btn-focus:active {
  background-color: var(--purpledark);
  border: 3px solid var(--purplewhite);
}

.contacts__social-heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 15px;
  color: #333;
}

.contacts__social-btns {
  display: flex;
}

.contacts__social-btn {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: border 0.3s ease-in-out;
}

.contacts__social-btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
}

.contacts__social-btn:focus-visible::after {
  opacity: 1;
  z-index: 2;
}

.contacts__social-btn:active {
  border-color: var(--purpledark);
}

.contacts__social-btn:active::after {
  opacity: 0;
  z-index: -1;
}

.contacts__social-btn-1 {
  background-image: url("../img/whatsapp.png");
}

.contacts__social-btn-2 {
  background-image: url("../img/teleram.png");
}

.contacts__map-block {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  width: calc(100% - 35.5%);
  height: 704px;
}

.contacts__map {
  height: 100%;
  position: relative;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.contacts__map .ymaps-2-1-79-controls-pane {
  top: 37.5% !important;
  left: auto !important;
  right: 0;
  width: 60px !important;
  height: 130px;
}

.ymaps-2-1-79-float-button {
  width: 40px !important;
  height: 40px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.ymaps-2-1-79-controls__control {
  inset: auto !important;
  right: 10px !important;
}

.ymaps-2-1-79-controls__toolbar_left {
  position: absolute !important;
  width: 100%;
}

.ymaps-2-1-79-controls__control_toolbar {
  margin-top: 80px !important;
  margin-left: auto;
  right: 10px !important;
}

.ymaps-2-1-79-zoom__plus {
  border-bottom: 0 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.ymaps-2-1-79-zoom__minus {
  border-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.ymaps-2-1-79-float-button-icon {
  left: 17% !important;
  top: 17% !important;
}

.ymaps-2-1-79-zoom {
  padding: 14px 0 !important;
  width: 40px !important;
  height: 50px !important;
}

.ymaps-2-1-79-controls__control_toolbar:nth-child(2) {
  display: none;
}

.ymaps-2-1-79-controls__toolbar_right {
  display: none;
}

.ymaps-2-1-79-controls__bottom {
  display: none;
}

.ymaps-2-1-79-copyrights-pane {
  display: none;
}

.ymaps-2-1-79-zoom__scale {
  display: none;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.footer {
  background-color: #000;
  height: 140px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer__logo-link svg path {
  transition: fill 0.3s ease-in-out;
}

.footer__logo-link:active svg path {
  fill: var(--purpledark);
}

.footer__logo-link:focus-visible svg path {
  fill: var(--purple);
}

.footer__social {
  display: flex;
}

.footer__social-btn path {
  transition: fill 0.3s ease-in-out;
}

.footer__social-btn:not(:last-child) {
  margin-right: 19px;
}

.footer__social-btn:focus-visible path {
  fill: #fff;
}

.footer__social-btn:active path {
  fill: var(--purple);
}
